# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environment
.venv/
.env
.env.example
.idea/
.vscode/
.mypy_cache/
.pytest_cache/

# Alembic cache
alembic/__pycache__/

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Logs
*.log